.ParkDetailPage {
  max-width: 50vw;

  h1 {
    font-size: 4rem;
  }

  .carousel {
    max-width: 50vw;
    max-height: 50vh;
    margin: 1rem auto;

    img {
      max-width: 50vw;
      max-height: 50vh;
      object-fit: cover;
    }
  }
}
