#ParksIndex {
  a {
    color: var(--white);
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    padding-left: 36px;

    .inputs-nav-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .inputs {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        div {
          display: flex;
          flex-direction: column;
        }

        input {
          width: 280px;
          padding: 8px;
          margin-top: 8px;
          font-size: var(--body-md);
          font-family: "Libre Franklin", Inter, system-ui, Avenir, Helvetica,
            Arial, sans-serif;
          border-radius: 3px;
          border: none;
        }

        label {
          font-size: var(--body-sm);
          margin-top: 4px;
        }
      }

      .nav {
        display: flex;
        gap: 8px;
      }
    }
  }

  .parks-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .park-card {
    width: 18vw;

    img {
      border-radius: 3px;
      width: 100%;
      height: 200px;
      object-fit: cover;
      overflow: hidden;
    }

    .content {
      height: 100px;

      .name {
        font-size: var(--body-md);
        margin-top: 8px;
      }

      .state {
        font-size: var(--body-sm);
        margin-top: 4px;
      }
    }
  }
}
