.ParksIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;

  a,
  a:hover {
    color: var(--white);
  }

  .search-instructions {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .inputs {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      div {
        display: flex;
        flex-direction: column;
      }

      input {
        padding: 0.2rem;
        margin: 0.2rem 0rem;
        font-size: 1.6rem;
        font-family: "Libre Franklin", Inter, system-ui, Avenir, Helvetica,
          Arial, sans-serif;
      }
    }
  }

  .parks-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .park-element {
    height: 20rem;
    width: 25rem;
    transition: 100ms ease-out;
    box-shadow: 0 1px 8px 1px #000000cb;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 2px 8px 2px #000000cb;
    }

    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
      overflow: hidden;
    }

    .content {
      height: 25%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      margin: 0 1rem 0 1rem;
    }
  }
}
