@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // Colors
  --color-background: rgb(36, 39, 51);
  --color-on-background: white;
  --color-surface: white;
  --color-on-surface: black;
  --color-primary: rgb(56, 66, 109);
  --color-on-primary: white;
  --color-secondary: rgb(71, 96, 209);
  --color-on-secondary: white;
  --color-neutral: rgb(255, 241, 206);
  --color-on-neutral: white;

  // Text sizes
  --body-sm: 12px;
  --body-md: 15px;

  // Padding sizes
  --pad-sm: 4px;
  --pad-md: 8px;
  --pad-lg: 16px;
  --pad-xl: 36px;

  // Margin sizes
  --margin-sm: 4px;
  --margin-md: 8px;
  --margin-lg: 16px;
  --margin-xl: 36px;

  // Other
  --navigation-height: 48px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  min-height: 100vh;
  font-family: "Libre Franklin", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.6;
  background-color: var(--color-background);
  color: var(--color-on-background);
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: none;
  text-transform: lowercase;
  transition: 500ms ease-in-out;

  &:hover {
    color: var(--color-secondary);
  }
}

h1 {
  font-size: 3.2em;
  font-weight: 200;
  line-height: 1.1;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 10px 0;
}

h4 {
  font-weight: 500;
}

button {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  line-height: 0;
  font-family: inherit;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  cursor: pointer;
  text-transform: lowercase;
  transition: 500ms ease-in-out;

  a {
    color: white;
  }

  &:hover {
    background-color: var(--color-primary);
  }
}

ul {
  list-style: none;
}

.page {
  width: 75vw;
  padding: 4rem 0;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .page {
    width: 90vw;
    padding: 2rem 0;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

// .react-icons {
//   vertical-align: middle;
// }
