@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // Colors
  --color-background: rgb(36, 39, 51);
  --color-on-background: white;
  --color-surface: rgb(51, 54, 68);
  --color-on-surface: white;
  --color-primary: rgb(122, 138, 209);
  --color-on-primary: white;
  --color-secondary: rgb(80, 106, 221);
  --color-on-secondary: white;
  --color-neutral: rgb(255, 241, 206);
  --color-on-neutral: white;

  // Text sizes
  --hero-xs: 30px;
  --hero-sm: 40px;
  --hero-md: 70px;
  --hero-lg: 100px;
  --body-sm: 12px;
  --body-md: 15px;
  --body-lg: 18px;
  --body-xl: 24px;

  // Padding sizes
  --pad-sm: 4px;
  --pad-md: 8px;
  --pad-lg: 16px;
  --pad-xl: 24px;

  // Margin sizes
  --margin-sm: 4px;
  --margin-md: 8px;
  --margin-lg: 16px;
  --margin-xl: 36px;

  // Other
  --navigation-height: 48px;
  --carousel-height: 70vh;
  --indicator-height-md: 12px;
  --indicator-height-sm: 10px;
  --icon-button-height: 30px;
  --corner-radius: 4px;

  // Z-Index
  --level-1: 200;
  --level-2: 400;
  --level-3: 600;
  --level-4: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  min-height: 100vh;
  font-family: "Libre Franklin", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-background);
  color: var(--color-on-background);
}

h1 {
  font-size: 3.2em;
  font-weight: 200;
  line-height: 1.1;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 10px 0;
}

h4 {
  font-weight: 500;
}

a,
button {
  transition: 500ms ease-in-out;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

a {
  font-weight: 500;
  font-size: var(--body-md);
  color: var(--color-primary);
  text-transform: lowercase;

  &:hover {
    color: var(--color-secondary);
  }
}

button,
.button {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  padding: var(--pad-md) var(--pad-xl);
  border-radius: var(--corner-radius);
  margin: 0 auto;

  &:hover {
    background-color: var(--color-secondary);
    color: inherit;
  }
}

.icon {
  font-size: var(--body-lg);
  border-radius: 50%;
  width: var(--icon-button-height);
  height: var(--icon-button-height);
}

.flat {
  background: none;
  &:hover {
    background: none;
    color: var(--color-primary);
  }
}

ul {
  list-style: none;
}

.page-content {
  width: 75vw;
  padding: 4rem 0;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .page-content {
    width: 90vw;
    padding: 2rem 0;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}
