@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  // TODO: Use Google Material naming conventions (primary, on-primary, surface, etc)
  --white: #fff;
  --black: #000;
  --gray: rgb(170, 170, 170);
  --gray-transparent: rgba(177, 177, 177, 0.062);
  // --background: rgb(26, 27, 31);
  --background: rgb(36, 39, 51);
  --accent: rgb(109, 123, 255);
  --accent-bright: rgb(74, 92, 255);
  --accent-transparent: rgba(85, 102, 255, 0.733);
  --links: rgb(165, 185, 243);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --neutral-dark: rgb(56, 66, 109);
  --navigation-height: 48px;
  --body-sm: 12px;
  --body-md: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  min-height: 100vh;
  font-family: "Libre Franklin", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.6;
  background-color: var(--background);
  color: var(--white);
}

a {
  font-weight: 500;
  color: var(--links);
  text-decoration: none;
  text-transform: lowercase;
  transition: 500ms ease-in-out;

  &:hover {
    color: var(--accent);
  }
}

h1 {
  font-size: 3.2em;
  font-weight: 200;
  line-height: 1.1;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 10px 0;
}

h4 {
  font-weight: 500;
}

button {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  line-height: 0;
  font-family: inherit;
  background-color: var(--neutral-dark);
  color: var(--white);
  cursor: pointer;
  text-transform: lowercase;
  transition: 500ms ease-in-out;

  a {
    color: white;
  }

  &:hover {
    background-color: var(--accent-bright);

    a {
      color: white;
    }
  }
}

ul {
  list-style: none;
}

.page {
  width: 75vw;
  padding: 4rem 0;
  margin: 0 auto;
}
