.ParksIndexPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;

  a,
  a:hover {
    color: var(--white);
  }

  .pagination-buttons {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 15rem;
    gap: 1rem;

    button {
      width: 5rem;
    }
  }

  .parks-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0 0 0;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .park-element {
    background-size: cover;
    background-position: center;
    height: 10rem;
    width: 22rem;
    border-radius: 6px;
    position: relative;
    transition: 100ms ease-out;
    box-shadow: 0 1px 8px 1px #000000cb;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 2px 8px 2px #000000cb;
    }

    .name,
    .state {
      margin: 1rem;
      font-size: 1.2rem;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .name {
      font-weight: 400;
      width: 70%;
    }

    .state {
      font-size: 1.1rem;
      font-weight: 400;
      height: 30px;
      width: 100%;
      top: 0;
    }
  }
}
