#Navigation {
  position: absolute;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 3rem;

  ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}
