#Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  height: var(--navigation-height);
  padding: 0 24px;

  ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  p {
    color: black;
  }
}
