#Carousel {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(var(--carouselheight) - var(--navigation-height));
  display: flex;

  .carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;

    .carousel-item {
      width: 100vw;
      height: var(--carousel-height);
      display: flex;
      justify-content: center;
      align-items: center;

      .overlay {
        z-index: var(--level-2);
        position: absolute;
        top: calc(50% - var(--navigation-height));
        line-height: 1;

        .park-name {
          text-transform: uppercase;
          color: white;

          &:hover {
            letter-spacing: 1px;
          }
        }
      }

      .image-container {
        position: relative;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }

        .overlay {
          z-index: var(--level-1);
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-image: radial-gradient(
            circle,
            rgba(20, 14, 26, 0.452) 0%,
            rgba(120, 90, 165, 0) 100%
          );
        }
      }
    }
  }

  .indicators-container {
    position: absolute;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--pad-xl);
    width: 100%;

    .indicator {
      width: var(--indicator-height-md);
      height: var(--indicator-height-md);
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.514);

      @media only screen and (max-width: 830px) {
        width: var(--indicator-height-sm);
        height: var(--indicator-height-sm);
      }

      &:hover {
        background-color: white;
        cursor: pointer;
      }
    }

    .active {
      background-color: white;
    }
  }
}
