#ParkDetails {
  display: flex;
  flex-direction: column;
  gap: var(--pad-xl);

  .states {
    font-size: var(--body-sm);
  }

  .surface-ctr {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .activities {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: var(--pad-md);

      li {
        font-size: var(--body-sm);
        background-color: var(--color-surface);
        padding: var(--pad-sm) var(--pad-lg);
        border-radius: var(--corner-radius);
      }
    }
  }
}
