@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --white: #fff;
  --black: #000;
  --background: rgb(26, 27, 31);
  --accent: rgb(175, 57, 83);
  --accent-dark: rgb(151, 26, 53);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Libre Franklin", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  background-color: var(--background);
  color: var(--white);
}

a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  color: var(--accent-dark);
}

h1 {
  font-size: 3.2em;
  font-weight: 200;
  line-height: 1.1;
}

h2 {
  font-weight: 300;
}

button {
  border: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: var(--accent);
  color: var(--white);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: var(--accent-dark);
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
}
