@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --white: #fff;
  --black: #000;
  --background: rgb(26, 27, 31);
  --accent: rgb(255, 140, 125);
  --accent-transparent: rgba(255, 86, 64, 0.575);
  --accent-dark: rgb(255, 86, 64);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Libre Franklin", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  background-color: var(--background);
  color: var(--white);
}

a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: none;
  transition: 500ms ease-in-out;

  &:hover {
    color: var(--accent-dark);
  }
}

h1 {
  font-size: 3.2em;
  font-weight: 200;
  line-height: 1.1;
}

h2 {
  font-weight: 300;
}

button {
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--accent-transparent);
  color: var(--white);
  cursor: pointer;
  transition: 500ms ease-in-out;

  a {
    color: white;
  }

  &:hover {
    background-color: var(--accent-dark);

    a {
      color: white;
    }
  }
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
}
